@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100vw;
    height: 12vh;

    display: flex;
    align-items: center;
}

#imgTruck {
    color: rgb(255, 72, 0);
    margin-left: 4vw;
    font-size: 30px
}

.labelFaster {
    padding: 0.5vw;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 72, 0);
}

.options {
    display: flex;
    font-size: 17px;
    margin-left: 16vw;
    padding-top: 2vh;
    width: 32vw;
    height: 6vh;
}

.option {
    text-decoration: none;
    color: #41414E;
    padding-left: 2vw;
}

.options a:hover {
    color: rgb(255, 72, 0);
}

.buttonQuote {
    background-color: rgb(255, 72, 0);
    border: none;
    color: #FFF4EF;
    width: 10vw;
    height: 6vh;
    font-size: 14px;
    margin-left: 20vw;
}

.overlayPai {
    position: relative;
    height: 60vh;
    background: url(./assents/overlayNavio.jpg) center/cover no-repeat;
}

.overlay {
    position: absolute;
    height: 60vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.7);
}

.textOverlay {
    height: 60vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.textOverlay h2 {
    color: #FF4800;
    font-size: 34px;
    margin-bottom: 3vh;
}

.textOverlay h1 {
    font-size: 62px;
    color: white;
}

.boxInputButton {
    width: 35vw;
    height: 7vh;
    margin-top: 4vh;
    display: flex;
}

.inputTracking {
    width: 27vw;
    border: none;
    outline: 0;
}

.buttonTrack {
    width: 10vw;
    border: none;
    background-color: #FF4800;
    color: white;
}

.inputTracking::placeholder {
    padding-left: 20px;
}

.boxGetAQuote {
    width: 100vw;
    height: 50vh;
    background-color: #F2F2F4;
    margin-top: 5vh;
    display: flex;
}

.requestAQuote {
    width: 36vw;
    height: 20vh;
    margin-left: 16vw;
    margin-top: 9vh;
    text-align: justify;
}

.requestAQuote h3 {
    color: #FF4800;
    font-size: 14px;
}

.requestAQuote p {
    color: rgb(76, 76, 88);
    font-size: 14px;
}

.requestAQuote h2 {
    color: #1F1F2E;
    font-size: 36px;
    margin-top: 1vh;
}

.requestAQuote p {
    font-size: 12px;
    margin-top: 2.5vh;
}

.numbersGetAQuote {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36vw;
    margin-left: 16vw;
    margin-top: 2vh;
}

.individualNumbers {
    justify-content: center;
    width: 11vw;
}

.textGetAQuote {
    width: 55vw;
}

.loginGetAQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF4800;
    width: 25vw;
    height: 50vh;
}

.loginGetAQuote input {
    font-family: 'Lexend Deca', sans-serif;
    width: 18vw;
    height: 5vh;
    font-size: 12px;
    color: #B2B7BB;
    border: none;
    outline: none;
    margin-top: 2vh;
}

.loginGetAQuote input::placeholder {
    padding-left: 0.8vw;
}

.loginGetAQuote select {
    font-family: 'Lexend Deca', sans-serif;
    width: 18vw;
    height: 5vh;
    font-size: 12px;
    border: none;
    outline: none;
    margin-top: 2vh;
    padding-left: 0.5vw;
}

.loginGetAQuote button {
    font-family: 'Lexend Deca', sans-serif;
    width: 18vw;
    height: 5vh;
    font-size: 12px;
    border: none;
    outline: none;
    margin-top: 2vh;
    background-color: #1F1F2E;
    color: white;
}

.individualNumbers h2 {
    font-size: 30px;
    color: #FF4800;
    margin-top: 0.5vh;
}

.individualNumbers h4 {
    font-size: 13px;
    font-weight: bold;
}

.boxPricingPlan {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boxPricingPlan h3 {
    font-size: 14px;
    color: #FF4800;
    margin-top: 10vh;
}

.boxPricingPlan h2 {
    color: #1F1F2E;
    font-size: 34px;
    margin-top: 1vh;
}

.boxPlans {
    display: flex;
    width: 61vw;
    height: 50vh;
    justify-content: space-between;
    margin-top: 4vh;
}

.headerPlan {
    background-color: #F2F2F4;
    width: 19vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerPlan i {
    padding-bottom: 3vh;
    color: rgb(76, 76, 88);
    font-size: 14px;
}

.headerPlan p {
    color: rgb(76, 76, 88);
    font-size: 12px;
    padding-top: 2.5vh;
}

#barra {
    color: rgb(76, 76, 88);
    padding-top: 2.5vh;
    font-size: 16px;
}

.headerPlan h1 {
    font-size: 42px;
    color: #1F1F2E;
}

.plan {
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.typePlan {
    background-color: #FF4800;
    width: 19vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typePlan h2 {
    font-size: 20px;
}


.characteristicsPlan {
    background-color: #F2F2F4;
    width: 19vw;
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3vh;
}

.characteristicsPlan p {
    color: rgb(76, 76, 88);
    font-size: 12px;
    padding-top: 2vh;
}

.characteristicsPlan button {
    margin-top: 2vh;
    width: 7vw;
    height: 5vh;
    background-color: #FF4800;
    color: white;
    border: none;
    outline: none;
    font-size: 12px;
    margin-top: 2.5vh;
}

.boxTeam {
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boxTeam h3 {
    font-size: 14px;
    color: #FF4800;
    margin-top: 8vh;
}

.boxTeam h2 {
    color: #1F1F2E;
    font-size: 34px;
    margin-top: 2vh;
}

.boxTeamChild {
    width: 61vw;
    height: 46vh;
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}

.boxEmployer {
    background-color: #F2F2F4;
    width: 14vw;
    height: 46vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgEmployer {
    width: 14vw;
    height: 34vh;
    font-size: 12px;
}

.descriptionEmployer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
}

.descriptionEmployer p {
    font-size: 12px;
    color: rgb(76, 76, 88);
    padding-top: 1.5vh;
}

.rowOrange {
    background-color: #FF4800;
    width: 14vw;
    height: 0.5vh;
    margin-top: 2.9vh;
}

.boxOurBlog {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boxOurBlogChild {
    width: 61vw;
    height: 72vh;
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}

.boxIndBlog {
    width: 29.5vw;
    height: 72vh;
    display: flex;
    flex-direction: column;
}

.imgBox {
    width: 29.5vw;
    height: 45vh;
}

.circle {
    background: #FF4800;
    border-radius: 50%;
    width: 4vw;
    height: 8vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40vh;
    margin-left: 23vw;
}

.circle h2 {
    color: #1F1F2E;
    font-weight: bold;
    font-size: 20px;
}

.circle h4 {
    color: white;
    font-size: 12px;
}

.h3Blog {
    font-size: 14px;
    color: #FF4800;
    margin-top: 8vh;
}

.boxOurBlog h2 {
    color: #1F1F2E;
    font-size: 34px;
    margin-top: 2vh;
}

.boxFooterBlog {
    background-color: #F2F2F4;
}

.footerBlog {
    width: 29.5vw;
    height: 9vh;
    display: flex;
}

.name {
    font-size: 10px;
    color: rgb(76, 76, 88);
    margin-top: 1.5vh;
    margin-left: 0.5vw;
}

.pWebDesign {
    font-size: 10px;
    color: rgb(76, 76, 88);
    margin-top: 1.5vh;
    margin-left: 0.3vw;
}

.myImg {
    clip-path: circle(50%);
    width: 2.5vw;
    height: 5vh;
}

.myInfos {
    width: 10vw;
    height: 6vh;
    display: flex;
    margin-top: 3.5vh;
    margin-left: 1.5vw;
}

#bookMark {
    color: #FF4800;
    font-size: 13px;
    margin-top: 1.5vh;
}

.rightMyInfos {
    width: 7vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    margin-top: 3.5vh;
}

.infosFooterBlog {
    width: 29.5vw;
    height: 17vh;
    display: flex;
    flex-direction: column;
    padding-top: 1.5vh;
}

.infosFooterBlog h3 {
    font-size: 17px;
    color: #1F1F2E;
    margin-left: 1.5vw;
}

.infosFooterBlog p {
    font-size: 10px;
    color: rgb(76, 76, 88);
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    padding-right: 1vw;
}

.infosFooterBlog a {
    font-size: 12px;
    margin-top: 2vh;
    margin-left: 1.5vw;
    text-decoration: none;
    color: #FF4800;
    font-weight: bold;
}

.seta {
    position: absolute;
    padding: 4px;
    box-shadow: 2px -2px 0 0.2px #FF4800 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    margin-top: 12.1vh;
    margin-left: 7vw;
}

.hrFooter {
    width: 6.1vw;
    margin-left: 1.5vw;
    color: yellow;
}

.footerSite {
    width: 100vw;
    height: 60vh;
    background-color: #1F1F2E;
    display: flex;
}

.boxTextTopFooter {
    width: 100vw;
    height: 40vh;
    margin-top: 12vh;
    display: flex;
    background-color: red;
}

.textGetInTouch {
    margin-top: 2vh;
}

.boxInfosBoxInd {
    margin-top: 2vh;
}

#iconLocation {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 0.2vh;
}

#location {
    margin-left: 0.3vw;
    color: #FFFFFF;
}

#iconPhone {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 0.1vh;
}

#phone {
    margin-left: 0.3vw;
    color: #FFFFFF;
}

#iconEnvelope {
    font-size: 14px;
    margin-top: 0.3vh;
    color: #FFFFFF;
}

#email {
    margin-left: 0.4vw;
    color: #FFFFFF;
}

.socialMedias {
    margin-top: 3vh;
}

.boxTextTopFooter p {
    font-size: 14px;
}

.boxTextTopFooterInd1 {
    display: flex;
    flex-direction: column;
    width: 28vw;
    margin-left: 2vw;
}

.boxTextTopFooter h3 {
    font-size: 24px;
    color: #FF4800;
}


.boxTextTopFooterInd2 {
    width: 28vw;
    margin-left: 10vw;
}

.boxTextTopFooterInd2 h3 {
    font-size: 24px;
}

.boxTextTopFooterInd3 {
    width: 50vw;
}

.boxTextTopFooterInd3 h3 {
    font-size: 24px;
}

.textGetInTouch {
    display: flex;
}

.circleSocialMedia {
    width: 2vw;
    height: 4vh;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: #DEDEE0 1.5px solid;
    background-color: #1F1F2E;
}

.socialMedias {
    display: flex;
    justify-content: space-between;
    width: 9vw;
}

.setaFooter {
    position: absolute;
    padding: 3px;
    box-shadow: 2px -2px 0 0.2px #DEDEE0 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    margin-top: 1.7vh;

}

.circleSocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

#twitter {
    font-size: 12px;
    color: #FFFFFF;
}

#facebook {
    font-size: 12px;
    color: #FFFFFF;
}

#linkedin {
    font-size: 12px;
    color: #FFFFFF;
}

#instagram {
    font-size: 12px;
    color: #FFFFFF;
}

.boxTextTopFooterInd2 {
    display: flex;
    flex-direction: column;
}

.boxOptions {
    height: 40vh;
    margin-top: 2vh;
}

.textBoxInd2 {
    margin-left: 1vw;
    color: #FFFFFF;
    margin-top: 1.2vh;
}

.boxInfosBoxInd3 {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

.boxInfosBoxInd3 p {
    padding-right: 3vw;
    color: #FFFFFF;
}

.boxEmail {
    margin-top: 2vh;
}

.inputFooter {
    width: 32vw;
    height: 7vh;
    border: none;
    outline: 0;
}

.inputFooter::placeholder {
    padding-left: 1.3vw;
}

.buttonFooter {
    color: #FFFFFF;
    width: 6vw;
    height: 7vh;
    border: none;
    margin-left: -0.3vw;
    background-color: #FF4800;
}